body {
    background-image: linear-gradient(to top left, black, rgb(64, 87, 64));
    background-attachment:fixed;
    height:100%;
}

.calculator {
    position: absolute;
    padding: 15px;
    height: 500px;
    width: 400px;
    margin: 0;
    background: rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(2rem);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.4rem;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: transparent;
    border: transparent;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    font-size: 20px;
    align-items: center;
}

#btn {
    background-color: #467e6d; 
    color: #e5e5e5;
}

#btn:hover {
    background-color: rgb(26, 90, 87);
}

input[type=button] {
    font-family: 'Roboto Mono', monospace;
    border: solid black 0.5px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0.3rem;
}

input:active[type=button] {
    background: #b9b9b9;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    width: 100%;
    height: 60%;
    position: relative;
    top: 20%;
}

.numbers {
    color: #e5e5e5;
    background-color: rgb(44, 42, 42);
}

.numbers:hover {
    background-color: rgb(27, 26, 26);
}

.operator {
    color: #e5e5e5;
    background-color: rgb(27, 26, 26);
}

.operator:hover {
    background-color: rgb(44, 42, 42);
}