body {
    background-image: linear-gradient(to top left, black, rgb(27, 116, 27));
    background-attachment:fixed;
    height:100%;
}

.calculator {
    position: absolute;
    padding: 15px;
    height: 500px;
    width: 400px;
    margin: 0;
    background: rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(2rem);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: transparent;
    border: transparent;
    color: rgb(81, 255, 0);
    width: 100%;
    height: 100px;
    font-size: 20px;
    align-items: center;
}

#btn {
    background-color: #4bc491; 
    color: white;
}

#btn:hover {
    background-color: #61182e77;
}

input[type=button] {
    font-family: 'Roboto Mono', monospace;
    background-color: #1c90d3;
    color: rgb(0, 0, 0);
    border: solid black 0.5px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
}

input:hover[type=button] {
    background-color: #1c90d35d;
}

input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    width: 100%;
    height: 60%;
    position: relative;
    top: 15%;
}
